
.rb-wrapper {

}

.rb-title-block {

}

.rb-title {

}

.rb-excerpt-text p {

}

.rb-image {

}

.rb-image .gallery {

}

.rb-image div {

}

ul.rb-gallery-list {
    list-style: none;
    padding: 0;
}

ul.rb-gallery-list li {

}

ul.rb-gallery-list li:hover {

}

.rb-square-img {
    width: 140px;
    height: 140px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

a:hover .rb-square-img {

}

.rb-title-top {

}

.rb-title-footer {

}

.rb-excerpt-text {

}

ul.rb-details-list {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
}

ul.rb-details-list li {
    background-color: var(--rb-accent-color);
    color: var(--rb-accent-color-base);
    border-radius: 100px;
    padding: 5px 21px;
}

ul.rb-details-list li + li {

}

ul.rb-details-list li a {
    color: var(--rb-accent-color-base);
}

h1.rb-recipe-title {

}

h1.rb-recipe-title:before {

}

.rb-basic-content-block {

}

table.rb-times-table {
    width: 100%;
    text-align: center;
   /* border-top: 1px solid #eee;*/
    /*border-bottom: 1px solid #eee;*/
    padding: 20px 0;
}

table.rb-times-table td {
    vertical-align: top;
}

table.rb-times-table h3 {
    font-size: 1.2em;
    line-height: 1;
    margin: 0;
}

table.rb-times-table div div.rb-time-part {
    display: inline-block;
}

.rb-time-amount {

}


h4.rb-comp-subtitle p {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.recipe-multiplier {
    float: right;
    border: 1px dotted;
    border-radius: 30px;
    box-sizing: border-box;
    line-height: 0;
}

.recipe-multiplier .rb-rm-btn {
    background-color: transparent;
    border: none;
    border-radius: 100px;
}

.recipe-multiplier .rb-rm-btn:hover {
    color: var(--rb-accent-color);
    cursor: pointer;
}

.recipe-multiplier .rb-rm-btn.-selected {
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 0;
    border: 1px solid;
    background-color: var(--rb-accent-color);
    color: var(--rb-accent-color-base);
    padding: 0;
}

.recipe-multiplier .rb-rm-btn span {
    font-size: 0.75em;
    font-weight: bold;
}

.rb-comp-ing {

}

table.rb-basic-ing-list {
    border-collapse: collapse;
    width: 100%;
}

table.rb-basic-ing-list td {
    padding: 3px 8px;
}

table.rb-basic-ing-list tr + tr td {
    border-top: 1px solid #eee;
}

table.rb-basic-ing-list tr:nth-child(2n) td {
    
}

table.rb-basic-ing-list td:nth-child(1) {
    width: 15%;
    
    border: none;
    border-right: 4px solid var(--rb-accent-color);
    text-align: right;
    font-size: 14px;
    /* color: var(--wp--preset--color--contrast-2); */
    /* font-weight: bold; */
}

table.rb-basic-ing-list td:nth-child(2) {
   
}

ol.rb-basic-steps {

}

ol.rb-basic-steps li {

}

ol.rb-basic-steps div p {

}

div.rb-notes {
    border-top: 1px solid var(--rb-accent-color);;
    padding: 20px 10px;
    margin: 30px 0 0 0;
    color: var(--rb-accent-color);
    font-style: italic;
}

table.rb-nutrients {
    background-color: #fff;
    min-width: 100%;
    border-radius: 10px;
    text-align: center;
    margin: 0;
}

table.rb-nutrients td, table.rb-nutrients th {
    padding: 0px 5px;
}


.rb-meta {
    overflow: auto;
}

/*
    MEDIA QUERIES
*/
@media (max-width: 1400px) and (min-width: 601px)  {
 
}


@media (max-width: 900px) {
  
}

@media (max-width: 750px) {
   
}

@media (max-width: 650px) {

}


@media (max-width: 600px) { 
    
}

@media (max-width: 500px) {
    

}