
.rb-wrapper {

}

.rb-title-block {

}

.rb-title {

}

.rb-excerpt-text p {

}

.rb-image {

}

.rb-image .gallery {

}

.rb-image div {

}

ul.rb-gallery-list {
    list-style: none;
    padding: 0;
}

ul.rb-gallery-list li {

}

ul.rb-gallery-list li:hover {

}

.rb-square-img {

}

a:hover .rb-square-img {

}

.rb-title-top {

}

.rb-title-footer {

}

.rb-excerpt-text {

}

ul.rb-details-list {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
}

ul.rb-details-list li {
    background-color: var(--wp--preset--color--contrast-2);
    color: var(--wp--preset--color--base);
    border-radius: 100px;
    padding: 5px 21px;
    font-size: 0.8em;
}

ul.rb-details-list li + li {

}

ul.rb-details-list li a {
    color: var(--wp--preset--color--base);
}

h1.rb-recipe-title {

}

h1.rb-recipe-title:before {

}

.rb-basic-content-block {

}

table.rb-times-table {
    width: 100%;
    text-align: center;
   /* border-top: 1px solid #eee;*/
    /*border-bottom: 1px solid #eee;*/
    padding: 20px 0;
}

table.rb-times-table td {
    vertical-align: top;
}

table.rb-times-table h3 {
    font-size: 1.2em;
    line-height: 1;
    margin: 0;
}

table.rb-times-table div div.rb-time-part {

}

.rb-time-amount {

}

h4.rb-comp-subtitle {

}

.rb-comp-ing {

}

table.rb-basic-ing-list {
    border-collapse: collapse;
    width: 100%;
}

table.rb-basic-ing-list td {
    padding: 3px 8px;
}

table.rb-basic-ing-list tr + tr td {
    border-top: 1px solid #eee;
}

table.rb-basic-ing-list tr:nth-child(2n) td {
    
}

table.rb-basic-ing-list td:nth-child(1) {
    max-width: 20px;
    /* white-space: nowrap; */
    border: none;
    border-right: 4px solid var(--wp--preset--color--contrast-2);
    text-align: right;
    font-size: 14px;
    /* color: var(--wp--preset--color--contrast-2); */
    /* font-weight: bold; */
}

ol.rb-basic-steps {

}

ol.rb-basic-steps li {

}

ol.rb-basic-steps div p {

}

p.rb-notes {

}

table.rb-nutrients {

}

table.rb-nutrients td, table.rb-nutrients th {

}

table.rb-basic-ing-list td i {
    color: var(--wp--preset--color--contrast-2);
}


/*
    MEDIA QUERIES
*/
@media (max-width: 1400px) and (min-width: 601px)  {
 
}


@media (max-width: 900px) {
  
}

@media (max-width: 750px) {
   
}

@media (max-width: 650px) {

}


@media (max-width: 600px) { 
    
}

@media (max-width: 500px) {
    

}